<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="1.css" rel="stylesheet" type="text/css"> <!--соединяем нтмл и цсс -->
  <title> садик)</title>
  <a id="yakor0"></a>
</head>
<body>
<div class="block1"> <div class="block2"> <div class="block3"><div class="block4"><br/>Детский сад № 311</div></div></div></div>
<div id="tf">
<ul class="menu">    <!--выпадающее меню -->

<li><a href="index.html"><mark>Главная</a></li>
<li><a href="index.html">Фотогалерея детей </a>
</li>

<li><a href="index.html">Список группы </a>   <!--ссылки наигры -->
</li>

<li><a href="index.html">Календарь событий</a>   <!--ссылки на костюмы -->
</li>

<li><a href="index.html">Обратная связь</a>  <!--ссылки на текстоввые файлы---->
</li>
</div>

<!--parol-->
<div class="links"><!--класс испол для индивид элемента или задать разные стили для одного тега-->
<form class="login-form" action="/auth" method="post">
<span>Вход в кабинет</span>
<br><br>
<input type="text" placeholder="Логин">
<input type="password" placeholder="Пароль">
<div class="underfield clearfix">
<input type="checkbox">
<span class="remember-me">Запомните меня</span><br>
<span class="forgot-password">Я забыл пароль</span>
</div>
<input type="submit" value="Войти">
</form>
</div>

<!--блок с основным текстом-->

<div class="text">
	<h2>Фото галерея</h2>
	  <p class="pic"><a href="images/15.jpg"><img src="C:\Users\User\Desktop\зачет-исит\фотогал0-1\5-8\15.jpg" height="250" width="250"></p>
		<p class="pic"><a href="images/16.jpg"><img src="C:\Users\User\Desktop\зачет-исит\фотогал0-1\5-8\16.jpg" height="250" width="250"></p>
		<p class="pic"><a href="images/17.jpg"><img src="C:\Users\User\Desktop\зачет-исит\фотогал0-1\5-8\17.jpg" height="250" width="250"></p>
    <p class="pic"><a href="images/18.jpg"><img src="C:\Users\User\Desktop\зачет-исит\фотогал0-1\5-8\18.jpg" height="250" width="250"></p>

</div>
<div class="clear"></div>
</body>

<!--подвал с ссылками на скачивание каких то файлов или рисунков из сайта-->
<footer>
	<a id="all_books"></a>
	<p id="works">Вы можете посмотреть данные книги (полные) по следующим ссылкам:</p>
	<div>
		<p class="book"><a href="books/Сказки Аксакова - Аленький цветочек.pdf">Аленький цветочек</a><br/>
			<a href="books/Русские народные сказки - Курочка Ряба.pdf">Курочка ряба</a><br/>
			<a href="books/Сборник сказок - Цветик-семицветик.pdf">Цветик-семицветик</a><br/>
			<a href="books/Сказки Андерсена - Дюймовочка.pdf">Дюймовочка</a><br/>
		</p>
	</div>
	<div>
		<p class="pic"><a href="images/pic1.jpg"><img src="images/pic1.jpg" height="250" width="250"></p>
		<p class="pic"><a href="images/pic2.jpg"><img src="images/pic2.jpg" height="250" width="250"></p>
		<p class="pic"><a href="images/pic3.jpg"><img src="images/pic3.jpg" height="250" width="250"></p>
		<p class="pic"><a href="images/pic4.jpg"><img src="images/pic4.jpg" height="250" width="250"></p>
	</div>
</footer>
</html>