{% extends "base.jinja2" %}

{% block head %}
{{ super() }}
{% endblock %}

	{% block menu %}
		{{ super() }}
	{% endblock %}
	{% block references %}
		{{ super() }}
	{% endblock %}
	{% block text %}
		<!--блок с основным текстом-->

		<div class="text">
			<h2>блок для обратной связи </h2>

		</div>
	{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}