{% extends "base.jinja2" %}

{% block head %}
{{ super() }}
{% endblock %}

	{% block menu %}
		{{ super() }}
	{% endblock %}
	{% block references %}
		{{ super() }}
	{% endblock %}
	{% block text %}
		<!--блок с основным текстом-->

		<div class="text">
			<h2>Фото галерея</h2>
			
				<p class="pic"><a href="images/1.jpg"><img src="C:\Users\User\Desktop\deti\фотогал0-1\1.jpg" height="280" width="280"></p>
				<p class="pic"><a href="images/2.jpg"><img src="C:\Users\User\Desktop\deti\фотогал0-1\2.jpg" height="280" width="280"></p>
				<p class="pic"><a href="images/3.jpg"><img src="C:\Users\User\Desktop\deti\фотогал0-1\3.jpg" height="280" width="280"></p>
				<p class="pic"><a href="images/4.jpg"><img src="C:\Users\User\Desktop\deti\фотогал0-1\4.jpg" height="280" width="280"></p>
			
		</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}