<html>
    <head>
        <title>Events</title>
    </head>
    <body>
        {{events}}
        <br>
        <a href = "/login">log</a>
        <br>
        <a href = "/addEvent">Add Event</a>
    </body>
</html>