{% extends "base.jinja2" %}

{% block head %}
{{ super() }}
{% endblock %}

	{% block menu %}
		{{ super() }}
	{% endblock %}
	{% block references %}
		{{ super() }}
	{% endblock %}
	{% block text %}
		<div class="text">
		<h2>Сказки, рекомендованные детям</h2>
        <p>
            <a id="alenkiy"></a>
            <p class="title">Сказка Аленький цветочек - <br/>Аксаков Сергей Тимофеевич</p>
            Сказка Аленький цветочек - это литературное изложение Аксакова истории о Красавице и Чудовище. 

        </p>
        <p class="story">
    
                В некиим царстве, в некиим государстве жил-был богатый купец, именитый человек.
            </p>
        <p>
        <a href><img src="images/marker_01.png" height="22" width="22"></a>
        <a id="kura"></a>
        <p class="title">Курочка Ряба - <br/>русская народная сказка</p>
            Курочка Ряба - коротенькая сказка для самых маленьких детей. Рассказывает о том, что золотое яичко не принесло счастья бабе и деду, а только слезы.
        </p>
        <p class="story">
            Жил себе дед да баба, у них была курочка Ряба; снесла под полом яичко - пестро,
            востро, костяно, мудрено!
        </p>
        <p>
        <a href><img src="images/marker_01.png" height="22" width="22"></a>
        <a id="cvet"></a>
            <p class="title">Сказка Цветик-семицветик - <br/>Валентин Катаев</p>
            Сказка Катаева Цветик семицветик о доброй девочке Жене, 
        получившей в подарок волшебный цветок с прозрачными лепестками разных цветов.
    
        </p>
        <p class="story">
            Жила девочка Женя. Однажды послала её мама в магазин за баранками. Купила Женя семь баранок: две
            баранки с тмином для папы,
        </p>
        <p>
        <a href><img src="images/marker_01.png" height="22" width="22"></a>
        <a id="duim"></a>
            <p class="title">Сказка Дюймовочка - <br/>Ганс Христиан Андерсен</p>
            Дюймовочка - это крошка-девочка, которая проходит через много приключений.
    
        </p>
        <p class="story">
            Жила на свете одна женщина. У нее не было детей, а ей очень хотелось ребеночка.
            Вот пошла она к старой колдунье и говорит:
            
        </p>
        <a href><img src="images/marker_01.png" height="22" width="22"></a>
		</div>
	{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
